Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a=str('pwskills','datascience','python')
b=[1,2,3.5,'machine learning']
c=44.25,456.22
d=(4,5,'maths')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 =string
(ii) var2 =string
(iii) var3=list
(iv) var4=int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
a,b=11,5
print(a/b)

a,b=11,5
print(a%b)

a,b=11,5
print(a//b)

a,b=2,3
print(a**b)

2.2
1
2
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [25]:
l=[2,4,6,8,10,'pwskills','python','basics',54.25,99.9]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
4
<class 'int'>
6
<class 'int'>
8
<class 'int'>
10
<class 'int'>
pwskills
<class 'str'>
python
<class 'str'>
basics
<class 'str'>
54.25
<class 'float'>
99.9
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [31]:
A = 24 
B = 3   

count = 0  

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"The number A is divisible by B, and it can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

The number A is divisible by B, and it can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [39]:
l=[2,4,6,8,10,12,15,18,20,22,24,26,28,30,32,33,36,34,98,46,24,65,57,7,88]
for i in l:
    if i % 3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

2 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
10 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
20 is not divisible by 3
22 is not divisible by 3
24 is divisible by 3
26 is not divisible by 3
28 is not divisible by 3
30 is divisible by 3
32 is not divisible by 3
33 is divisible by 3
36 is divisible by 3
34 is not divisible by 3
98 is not divisible by 3
46 is not divisible by 3
24 is divisible by 3
65 is not divisible by 3
57 is divisible by 3
7 is not divisible by 3
88 is not divisible by 3


Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [40]:
a='maths'
a[0]='s'
a

#here str is immutable

TypeError: 'str' object does not support item assignment

In [43]:
a=[2,5,4,8]
a[1]=500
a

#here list is mutable

[2, 500, 4, 8]